.Symptoms
{
    width: 655px;
    /* background-image: url(/public/images/d2.jpg); */
    margin: auto;
    margin-top: 100px;
    background:burlywood;
    text-align: center;
    font-family: sans-serif;
}