.topnavbar{
  background: linear-gradient(90deg, rgb(192, 189, 189) 0%, rgb(26, 23, 23) 100%);
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
position: sticky;
margin-top: 10px;
z-index: 999;
}

.bar-container{
  display: flex;
justify-content: center;
align-items: center;
margin-left: -500px;
height: 80px;
max-width: 1980px;
}

.navbar-nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  font-size: 25px;
  
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item-navPadding {
  height: 80px;
}

.nav-link {
  color: #fff;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-link:hover {
    color: black;
    background: rgb(255, 226, 97);
  border: 3px solid rgb(0, 0, 0);
  transition: all 0.2s ease-out;
  border-radius: 8px;
}
.nav-item-navPadding,
.nav-item-mr-2{
  background: rgb(26, 22, 36);
  border-radius: 8px;
  opacity: 0.79;
}
.fa-user-circle {
  margin-left: 12px;
  
}